@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 125%;
  /*For accessibility purpose, keeping the global font size at 20px */
  line-height: 1.15;
  color: #2c2c2c;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  letter-spacing: 2px;
}

p {
  font-size: calc( 18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)) );
  font-weight: 400;
  line-height: 1.7rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 50%;
  transform: translateX(-50%);
}

.wrapper {
  width: 80%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.navbar {
  position: relative;
  left: -7%;
  display: flex;
  padding: 2rem 0 0 0;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  letter-spacing: 2px;
  margin-right: 10%;
  color: #73a077;
  font-size: calc( 18px + (40 - 18) * ((100vw - 300px) / (1600 - 300)) );
}
.navbar__items {
  display: flex;
}
.navbar__items li {
  margin-right: 10%;
  font-size: calc( 18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)) );
}
.navbar__items li:last-of-type a {
  display: inline-block;
  width: 170px;
}

.hamburger {
  position: relative;
}

.fa-times {
  position: absolute;
  top: 0;
  left: 0;
  font-size: calc( 30px + (55 - 30) * ((100vw - 300px) / (1600 - 300)) );
  opacity: 0;
}

.hamburger {
  display: none;
  cursor: pointer;
}

@-webkit-keyframes slotMachine {
  33% {
    transform: translateY(-2rem);
  }
  66% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(-6rem);
  }
}

@keyframes slotMachine {
  33% {
    transform: translateY(-2rem);
  }
  66% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(-6rem);
  }
}
.home {
  overflow: hidden;
}

.projectsBg {
  position: absolute;
  background-image: url(../img/home-bg_4k.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -7%;
  height: 100vh;
  width: 45%;
  line-height: 1.5;
  padding-top: 5%;
}
.hero__bgCircle {
  position: absolute;
  left: -60%;
  transform: translateX(50%);
  background-color: #f3efcc;
  width: 75%;
  height: 180%;
  border-radius: 50%;
  z-index: -2;
}
.hero__text {
  margin-bottom: 5%;
}
.hero h1 {
  font-size: calc( 20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)) );
  font-weight: 300;
}
.hero span {
  display: block;
  margin-bottom: 0.2rem;
  font-size: calc( 40px + (60 - 40) * ((100vw - 300px) / (1600 - 300)) );
  font-weight: bold;
}
.hero__title {
  margin-bottom: 3%;
  height: 2rem;
  overflow: hidden;
}
.hero__title--container {
  width: 100vw;
  height: 100%;
  -webkit-animation: slotMachine 5s ease-in-out infinite alternate;
          animation: slotMachine 5s ease-in-out infinite alternate;
}
.hero__title--item {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: calc( 19px + (24 - 19) * ((100vw - 300px) / (1600 - 300)) );
  font-weight: bold;
  color: #86b68b;
}
.hero .socialIcons ul {
  display: flex;
}
.hero .socialIcons ul li {
  margin: 2% 8% 0 0;
}
.hero .socialIcons ul li a {
  display: block;
  font-size: calc( 30px + (35 - 30) * ((100vw - 300px) / (1600 - 300)) );
  color: #86b68b;
}

.hamburgerOpen {
  transition: all 0.8s;
  left: 50% !important;
}

@media (max-width: 1400px) {
  .hero {
    width: 60%;
  }
  .hero__bgCircle {
    width: 90%;
    height: 180%;
  }
}
@media (max-width: 1200px) {
  .hero {
    width: 70%;
  }
  .hero__bgCircle {
    width: 90%;
    height: 180%;
  }
}
/* Landscape tablet and small desktops */
@media (max-width: 940px) {
  .hero {
    width: 80%;
  }
  .hero__bgCircle {
    width: 95%;
    height: 200%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .hero {
    width: 82%;
    padding-top: 0;
  }
  .hero__bgCircle {
    left: -70%;
    width: 100%;
    height: 150%;
  }

  .navbar {
    left: -4%;
  }
  .navbar__logo {
    display: none;
  }
  .navbar__items {
    padding-top: 6rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -300%;
  }
  .navbar__items li {
    margin-bottom: 10%;
  }

  .hamburger {
    display: block;
    font-size: calc( 30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)) );
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .hero {
    width: 80%;
    padding-top: 0;
  }
  .hero__bgCircle {
    left: -80%;
    width: 107%;
    height: 150%;
  }
}
@media (max-width: 380px) {
  .navbar {
    margin-bottom: 2rem;
  }

  .hero__text {
    margin-bottom: 15%;
  }
}
@media (max-height: 650px) {
  .home {
    overflow: scroll;
  }

  .projectsBg {
    height: 105vw;
  }

  .navbar {
    margin-bottom: 2rem;
  }

  .hero__bgCircle {
    left: -80%;
    width: 110%;
  }
}
@media (max-height: 450px) {
  .hero__bgCircle {
    width: 107vw;
    height: 100vw;
  }
  .hero__text {
    padding-top: 20%;
  }

  .navbar__items {
    padding-top: 0;
    position: initial;
    flex-direction: row;
  }

  .hamburger {
    display: none;
  }
}
@media (max-height: 380px) {
  .hero__bgCircle {
    width: 117vw;
    height: 120vw;
  }
}
.aboutBody {
  overflow-x: hidden;
}

main .wrapper {
  display: flex;
  justify-content: space-between;
}

.left {
  margin-top: 2rem;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.profile {
  height: 15vw;
  margin-bottom: 5%;
}
.profile img {
  height: 100%;
  width: 13.5vw;
  background-color: #86b68b;
  border-radius: 50%;
}

.development {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.development h3 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: calc( 22px + (27 - 22) * ((100vw - 300px) / (1600 - 300)) );
}
.development__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
}
.development__container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  text-transform: uppercase;
  width: 15%;
  margin: 1% 5%;
}
.development__container img {
  height: 2.5vw;
}
.development__container p {
  margin-top: 0.2rem;
  font-size: calc( 14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)) );
  text-align: center;
  line-height: 1.3;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.about__bgCircle {
  position: absolute;
  background-color: #f3efcc;
  width: 200%;
  height: 200%;
  border-radius: 50% 0% 0% 50%/50% 0% 0% 50%;
  z-index: -2;
  left: -30%;
}
.about__text {
  margin-bottom: 1.5rem;
}
.about__text h2 {
  margin-bottom: 1rem;
}
.about__description p {
  font-size: calc( 16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)) );
  margin-bottom: 1rem;
}
.about__description p:last-of-type {
  margin-bottom: 1.8rem;
}
.about__description a, .about__description a:visited {
  border-bottom: 4px solid #86b68b;
  padding: 0.3rem;
  transition: background-color 0.2s;
}
.about__description a:hover, .about__description a:focus, .about__description a:visited:hover, .about__description a:visited:focus {
  background-color: #86b68b;
  color: #fff;
}

.socialIcons ul {
  display: flex;
}
.socialIcons ul li {
  margin: 2% 8% 0 0;
}
.socialIcons ul li a {
  display: block;
  font-size: calc( 30px + (35 - 30) * ((100vw - 300px) / (1600 - 300)) );
  color: #86b68b;
}

@media (max-width: 1350px) {
  .development__container {
    margin: 1% 8%;
  }
}
@media (max-width: 1200px) {
  .about__description p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
}
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  main .wrapper {
    flex-direction: column-reverse;
  }

  .left {
    display: flex;
    flex-direction: row;
    padding-right: 0;
    justify-content: space-evenly;
    width: 100%;
    margin: 6rem 0;
  }

  .profile {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .profile img {
    width: 25vw;
  }

  .development__box {
    width: 80%;
  }
  .development__container {
    margin: 1% 6%;
  }

  .about {
    margin: 4rem 0;
    width: 85%;
  }
  .about__bgCircle {
    border-radius: 100% 0% 50% 50%/0% 0% 100% 100%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .about {
    width: 100%;
  }

  .left {
    width: 110%;
  }

  .profile img {
    width: 30vw;
  }

  .development__box {
    width: 100%;
  }
  .development__box img {
    height: 3.5vw;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .left {
    width: 100%;
    flex-direction: column;
    margin: 5rem 0;
  }

  .profile img {
    width: 40vw;
  }

  .development__box img {
    height: 7.5vw;
  }

  .about__text {
    margin: 3rem 0;
  }

  .about__bgCircle {
    border-radius: 100% 0% 200% 100%/0% 0% 100% 100%;
    height: 200%;
    left: -80%;
    top: -50%;
  }
}
@media (max-width: 380px) {
  .left {
    margin: 3rem 0;
  }

  .profile img {
    width: 50vw;
  }
}
.project {
  background: #f3efcc;
}
.project__main {
  display: flex;
  min-height: 85vh;
}
.project__main .backArrow {
  display: flex;
  align-items: center;
}
.project__main .forwardArrow {
  display: flex;
  align-items: center;
}
.project__slider {
  display: flex;
}
.project__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.project__container__img {
  width: 50%;
}
.project__container__description {
  width: 40%;
  padding: 1.5rem;
  background-color: #86b68b;
  border-radius: 5%;
}
.project__container__description p:last-of-type {
  display: flex;
  align-self: flex-end;
}