body {
  overflow: hidden;
}

.projectsBg {
  position: absolute;
  background-image: url(../img/home-bg_4k.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

.navbar {
  position: relative;
  left: -7%;
  display: flex;
  padding: 2rem 0 0 0;
  width: 30%;
  justify-content: space-between;
  align-items: center;

  &__logo {
    letter-spacing: 2px;
    margin-right: 10%;
    color: $darkerForrest;
    @include fluid(20, 40, 300);
  }

  &__items {
    display: flex;

    & li {
      margin-right: 10%;
      @include fluid(18, 22, 300);

      &:last-of-type a {
        display: inline-block;
        width: 170px;
      }
    }
  }
}

.hamburger {
  position: relative;
}

.fa-times {
  position: absolute;
  top: 0;
  left: 0;
  @include fluid(30, 55, 300);
  opacity: 0;
}

// Hero Container

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -7%;
  height: 100vh;
  width: 45%;
  line-height: 1.5;
  padding-top: 5%;

  // Circle in the background

  &__bgCircle {
    position: absolute;
    left: -60%;
    transform: translateX(50%);
    background-color: $lightBeige;
    width: 75%;
    height: 180%;
    border-radius: 50%;
    z-index: -2;
  }

  // Hero text

  &__text {
    margin-bottom: 5%;
  }

  & h1 {
    @include fluid(20, 30, 300);
    font-weight: 300;
  }

  & span {
    display: block;
    margin-bottom: 0.2rem;
    @include fluid(40, 60, 300);
    font-weight: bold;
  }

  // Rotating self-descriptions

  &__title {
    margin-bottom: 3%;
    height: 2rem;
    overflow: hidden;

    &--container {
      width: 100vw;
      height: 100%;
      animation: slotMachine 5s ease-in-out infinite alternate;
    }

    &--item {
      display: flex;
      align-items: center;
      height: 2rem;
      @include fluid(19, 24, 300);
      font-weight: bold;
      color: $forrest;
    }
  }

  // Social icons

  .socialIcons {
    & ul {
      display: flex;

      & li {
        margin: 2% 8% 0 0;
      }

      & li a {
        display: block;
        @include fluid(30, 35, 300);
        color: $forrest;
      }
    }
  }
}

// Javascript transitions

.hamburgerOpen {
  transition: all 0.8s;
  left: 50% !important;
}

// Media Queries

@media (max-width: 1400px) {
  .hero {
    width: 60%;

    &__bgCircle {
      width: 90%;
      height: 180%;
    }
  }
}

@media (max-width: 1200px) {
  .hero {
    width: 70%;

    &__bgCircle {
      width: 90%;
      height: 180%;
    }
  }
}

/* Landscape tablet and small desktops */
@media (max-width: 940px) {
  .hero {
    width: 80%;

    &__bgCircle {
      width: 95%;
      height: 200%;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .hero {
    width: 82%;
    padding-top: 0;

    &__bgCircle {
      left: -70%;
      width: 100%;
      height: 150%;
    }
  }

  .navbar {
    left: -4%;

    &__logo {
      display: none;
    }

    &__items {
      padding-top: 6rem;
      position: absolute;
      display: flex;
      flex-direction: column;
      left: -300%;

      & li {
        margin-bottom: 10%;
      }
    }
  }

  .hamburger {
    display: block;
    @include fluid(30, 40, 300);
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .hero {
    width: 80%;
    padding-top: 0;

    &__bgCircle {
      left: -80%;
      width: 110%;
      height: 140%;
    }
  }
}
