.contactBody {
  overflow-y: hidden;
}

.contact__wrapper {
  width: 80%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    background-color: $lightBeige;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -2;
  }
}

.contact {
  width: 100%;

  .form {
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-20%, -50%);
    color: $black;
    width: 45%;
    height: 65%;
    padding: 3% 0;
    background-color: $offWhite;
    box-shadow: 10px 10px 0 $forrest;
    z-index: 999;
    border: 3px solid $lightBeige;

    & h2 {
      position: absolute;
      top: -2%;
      left: -2%;
      @include fluid(22, 35, 300);
      transform: rotate(-10deg);
      letter-spacing: 5px;
    }

    & fieldset {
      display: flex;
      flex-direction: column;
      border: none;
      height: 100%;

      & > * {
        font-family: "Poppins", sans-serif;
        width: 90%;
        margin: 0 auto;
      }

      & button {
        color: $black;
        background-color: $offWhite;
        padding: 1.5% 0;
        border: 3px solid $forrest;
        letter-spacing: 2px;
        transition: all 0.2s;

        &:hover,
        &:focus {
          background-color: $forrest;
          color: $offWhite;
          cursor: pointer;
        }
      }

      & input,
      & textarea {
        padding: 3%;
        background-color: $offWhite;
        border: 3px solid $forrest;
        font-family: inherit;
        @include fluid(15, 20, 300);
      }

      & input {
        width: 100%;
        margin: 0 5% 5% 0;
        border: none;
        border-bottom: 3px solid $forrest;

        &:last-child {
          margin: 0 0 5% 0;
        }
      }

      & textarea {
        height: 35vh;
        margin-bottom: 2rem;
      }
    }

    &-container {
      display: flex;
    }

    &-comment {
      height: 15vw;
    }
  }
}

.contact__socialIcons {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
  background-color: $darkerForrest;
  color: $offWhite;
  width: 6%;
  height: 50%;
  border: 3px solid $offWhite;
  z-index: 1000;

  &__container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 30%;

    & li {
      height: 1.8rem;

      & a {
        height: 1.8rem;
      }
    }

    & li:hover,
    & li:focus {
      border-bottom: 4px solid $offWhite;
    }
  }
}

// Media queries

@media (max-width: 1200px) {
  // .contact__wrapper::before {
  //   width: 75%;
  //   border-radius: 0 48% 48% 0;
  // }

  .contact .form {
    width: 65%;
    height: 78%;

    & fieldset textarea {
      height: 43vh;
    }
  }
}

@media (max-width: 940px) {
  // .contact__wrapper::before {
  //   width: 80%;
  //   border-radius: 0 48% 48% 0;
  // }

  .contact .form {
    width: 65%;
    height: 75%;

    & fieldset textarea {
      height: 30vw;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .contactBody {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .contact .form {
    margin-top: 1.5rem;
    height: 60%;
    padding: 6% 0;

    & fieldset textarea {
      height: 45vh;
    }
  }

  .contact__socialIcons {
    top: 60%;
  }
}

@media (max-width: 628px) {
  .contact .form {
    padding-left: 13%;
    margin-left: 1rem;
    width: 85%;

    & fieldset textarea {
      height: 45vh;
    }
  }

  .contact__socialIcons {
    background-color: $offWhite;
    color: $forrest;
    left: 12%;
  }
}

/* Landscape phones and down */
@media (max-width: 540px) {
  .contact .form {
    padding: 8% 0;

    & fieldset textarea {
      margin-bottom: 1rem;
    }
  }

  .contact__socialIcons {
    width: 80%;
    height: 5%;
    right: 0;
    top: 93vh;
    transform: translate(0);

    &__container {
      flex-direction: row;
      width: 100%;

      & li a {
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (max-width: 480px) {
  .contact .form {
    padding: 12% 5%;
    margin-left: 0;
  }

  .contact .form fieldset {
    & textarea {
      height: 45vh;
    }

    & > * {
      width: 100%;
    }
  }

  .contact__socialIcons {
    width: 75%;
  }
}

@media (max-width: 370px) {
  .contact .form fieldset textarea {
    height: 45vh;
  }
}

@media (max-height: 1400px) {
  .contact .form fieldset textarea {
    height: 55vh;
  }
}

@media (max-height: 1000px) {
  .contact .form fieldset textarea {
    height: 40vh;
  }
}
