.project {
  background: $lightBeige;

  &__section {
    height: 85vh;

    & .wrapper {
      width: 100%;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 7rem;
    padding-right: 2rem;
    padding-bottom: 7rem;

    &:first-of-type {
      padding-left: 2rem;

      & img {
        width: 30%;
        padding-left: 2rem;
        margin-right: 5rem;
      }
    }

    &__img {
      width: 45%;
      margin-right: 1rem;
    }

    &__text {
      display: flex;
      align-items: flex-start;
      padding-top: 1.5rem;
      flex-direction: column;
      width: 40%;
    }

    &__description {
      padding: 1.5rem;
      background-color: $forrest;
      border-radius: 5%;
      color: $offWhite;

      & p:first-of-type {
        margin: 1rem 0;
        @include fluid(16, 20, 300);
      }

      & p:last-of-type {
        display: flex;
        align-self: flex-end;
        @include fluid(15, 16, 300);
      }
    }

    &__links {
      padding-left: 1rem;
      margin-top: 1rem;

      & a {
        margin-right: 1rem;
      }
    }
  }
}

// Media queries

@media (max-width: 1200px) {
  .project__container__description {
    padding: 1rem;
  }
}

@media (max-width: 950px) {
  .project__container {
    flex-direction: column;

    & img {
      width: 60%;
    }

    &:first-of-type img {
      width: 50%;
      margin: 0;
      padding: 0;
    }
  }
}

@media (max-width: 941px) {
  .project__section {
    height: 110vh;
  }

  .project__container__text {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .project__section {
    height: 110vh;
  }

  .project__container:first-of-type img {
    width: 60%;
  }
}

@media (max-width: 547px) {
  .project {
    &__section {
      height: 100vh;
    }

    &__container {
      padding: 2rem;
    }

    &:first-of-type img {
      width: 75%;
    }
  }
}

@media (max-width: 447px) {
  .project {
    &__section {
      height: 90vh;
    }

    &__container {
      padding: 2rem;

      &__text {
        width: 100%;
      }
    }

    &:first-of-type img {
      width: 75%;
    }
  }

  .glide__arrow--right {
    top: 25%;
  }
}
