.hero {

    &__left {

        & h2 {
            margin-bottom: 1rem;
        }
    }

    &__description {
        position: relative;

        & span {
            display: inline-block;
            font-size: 0.9rem;
        }

        & img:nth-of-type(1) {
            margin-top: 2rem;
            height: 10vw;
            border-radius: 50%;
        }
        
        &__img {
            transform: rotate(180deg);
            transform: scaleX(-1);
            position: absolute;
            bottom: 14%;
            right: 37%;
            width: 9vw;
        }
    } 

    &__right {
        display: flex;
        justify-content: center;
    }

    &__development {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

    