.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
  }
  
  .skip-link:focus {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .wrapper {
    width: 80%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }

  .arrow {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    height: 28px;
    transition: transform 0.2s ease-in-out;
    transform: translateY(-150deg);

    &-top {
      display: block;
      width: 25px;
      height: 6px;
      background: $forrest;
      transform: rotate(40deg);
      border-radius: 100px;
      
    }

    &-bottom {
      display: block;
      width: 25px;
      height: 6px;
      background: $forrest;
      transform: rotate(-40deg);
      border-radius: 100px;
    }

    &:hover,
    &:focus {
      transform: translateX(5px);
    }
    
  }

  .backArrow {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    height: 40px;
    transform: translate(-100%, 100%) rotateY(150deg);
    cursor: pointer;
  }