.contact {
  width: 100%;

  .form {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    color: $black;
    width: 50%;
    padding: 4%;
    background-color: $white;
    box-shadow: 10px 10px 0 $forrest;
    z-index: 999;
    opacity: 0;
    border: 3px solid $lightBeige;

    & h3 {
      position: absolute;
      top: -2%;
      left: -3%;
      font-size: 2.5rem;
      transform: rotate(-10deg);
      letter-spacing: 5px;
    }

    & fieldset {
      display: flex;
      flex-direction: column;
      border: none;

      & > * {
        font-family: "Poppins", sans-serif;
      }

      & button {
        color: $black;
        background-color: $white;
        padding: 1.5% 0;
        border: 3px solid $forrest;
        letter-spacing: 2px;
        transition: all 0.2s;

        &:hover,
        &:focus {
          background-color: $forrest;
          color: $white;
          cursor: pointer;
        }
      }

      & input,
      & textarea {
        padding: 4%;
        background-color: $white;
        border: 3px solid $forrest;
        font-family: inherit;
      }

      & input {
        width: 100%;
        padding: 4%;
        margin: 0 5% 5% 0;
        border: none;
        border-bottom: 3px solid $forrest;

        &:last-child {
          margin: 0 0 5% 0;
        }
      }

      & textarea {
        height: 15vw;
        margin-bottom: 2rem;
      }
    }

    &-container {
      display: flex;
    }

    &-comment {
      height: 15vw;
    }
  }

  .socialIcons {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    background-color: $forrest;
    color: $white;
    width: 20%;
    height: 50%;

    &__pia {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;

      & img {
        height: 8vw;
        border-radius: 100%;
        margin-bottom: 1rem;
      }

      & p {
        text-align: center;
        color: $white;
        width: 70%;
      }
    }

    &__container {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      width: 30%;

      & li {
        height: 1.8rem;

        & a {
          height: 1.8rem;
        }
      }

      & li:hover,
      & li:focus {
        border-bottom: 4px solid $white;
      }
    }
  }
}
