.navbar {
    display: none;
}

.hero {
    display: flex;
    height: 100vh;

    &__left {
        flex: 1;
        padding: 2rem;
        line-height: 1.5;

        & h1 {
            font-size: 1.5rem;
            font-weight: 300;
        }
        
        & span {
            display: block;
            font-size: 3rem;
            font-weight: bold;
        }

        & .hero__title {
            height: 2rem;
            overflow: hidden;

            &--container {
                height: 100%;
                animation: slotMachine 5s ease-in-out infinite alternate;
            }

             &--item {
                 display: flex;
                 align-items: center;
                 height: 2rem;
                 font-size: 1.2rem;
                 font-weight: bold;
                 color: $forrest;
             }
        }
    }

    &__right {
        flex: 1;
    }
}