.header {
    overflow: hidden;
}

.beigeOverlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $lightBeige;
    z-index: 100;
}

.hero {
    position: relative;
    display: flex;
    height: 100vh;

    // Hero left side

    &__left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1 0 50%;
        padding: 2rem;
        line-height: 1.5;

        &__bg {
            position: absolute;
            top: -11%;
            left: -35%;
            clip-path: circle(50% at 50% 50%);
            background-color: $lightBeige;
            height: 65vw;
            width: 75vw;
            z-index: -1;
        }

        & h1 {
            font-size: 1.5rem;
            font-weight: 300;
        }
        
        & span {
            display: block;
            margin-bottom: .2rem;
            font-size: 3rem;
            font-weight: bold;
        }

        & .hero__title {
            margin-bottom: 1rem;
            height: 2rem;
            overflow: hidden;

            &--container {
                height: 100%;
                animation: slotMachine 5s ease-in-out infinite alternate;
            }

            &--item {
                display: flex;
                align-items: center;
                height: 2rem;
                font-size: 1.2rem;
                font-weight: bold;
                color: $forrest;
             }
        }
    }

    // Hero right side

    &__right {
        flex: 1 0 50%;

        .whiteOverlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 0;
            width: 100%;
            border-radius: 50%;
            background: #fff;
            z-index: 1000;
        }

        &__circle {
            position: absolute;
            top: 18%;
            right: 0%;
            width: 30vw;
            height: 25vw;

            &::after {
                content: "";
                position: absolute;
                top: 15%;
                left: 15%;
                width: 70%;
                height: 80%;
                border-radius: 1000px;
                background-color: $forrest;
                z-index: -1;
            }
        }

        &__img {
            position: absolute;
            bottom: 0;
            left: 20%;
            height: 21vw;
        }
    }
}

// Navbar inside the hero right container

.navbar {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 0.9rem;
    z-index: 10;
    width: 80%;
    
    &__logo {
        display: none;
    }

    &__items {
        display:flex;
        justify-content: space-evenly;
        height: 7vw;
        cursor: pointer;
        
        & li:nth-of-type(1) {
            position: relative;
            top: 40%;
            z-index: 1000;
            width: 50px;
            transform: rotate(-55deg);
        }

        & li:nth-of-type(2) {
            position: relative;
            width: 100px;
            transform: rotate(-16deg);
            top: -13%;
        }

        & li:nth-of-type(3) {
            position: relative;
            width: 50px;
            transform: rotate(17deg);
            top: -10%;
        }

        & li:nth-of-type(4) {
            position: relative;
            width: 50px;
            transform: rotate(60deg);
            top: 50%;
        }

        & li a {
            transition: all 0.2s;
        }

        & li:hover a {
            letter-spacing: 1px;
            
        }

    }
}