@media (max-width: 1400px) {
  .hero {
    &__left__bg {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: 100vw;
    }

    &__left h1 {
      font-size: 1.2rem;
    }

    &__left span {
      font-size: 2rem;
    }

    &__intro p {
      font-size: 0.8rem;
    }

    &__description {
      & p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
      }

      & a {
        padding: 0.5rem;
        font-size: 0.9rem;
      }
    }

    &__development {
      width: 85%;
    }

    &__devBox__container p {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 1300px) {
  .hero {
    &__right {
      &__circle {
        top: 26%;
      }
    }
  }
}

@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
