body {
    overflow: hidden;
}

main {
    display: flex;
    overflow: hidden;
    height: 100vh;
}

.project {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
    padding: 10%;

    &__mockup {
        position: relative;
        margin-bottom: 1rem;
        width: 100%;

        & img {
            width: 20rem;
        }
    }

    &__card {
        text-align: center;
    }

    &__text {
        margin: 0 auto;
        padding: 3%;
        box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.2);
        width: 95%;
        text-align: left;
        border-radius: 10px;

        & h3 {
            font-size: 1.5rem;
            margin: 0.5rem 0;
            transform: translateZ(150px);
        }

        & p:nth-of-type(1) {
            margin-bottom: 1.5rem;
            font-weight: 300;
        }

        & p:nth-of-type(2) {
            font-size: 0.8rem;
        }

        &__container {
            position: relative;
        }

        &__hidden {
            position: absolute;
            top: 25%;
            right: 0%;
            transform: perspective(2000px) rotateY(150deg) translateZ(150px);;
            opacity: 0;

            & > a {
                margin-right: 1rem;
            }
        }
    }
}

.projectOverlay {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 20vw;
    background: $lightBeige;
    z-index: 100;
}