@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  font-size: 125%; /*For accessibility purpose, keeping the global font size at 20px */
  line-height: 1.15;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  color: $black;
}

h2, h3 {
  font-family: 'Sue Ellen Francisco', cursive;
  letter-spacing: 2px;
}

p {
    font-size: .9rem;
    font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  padding: 0;
}